<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shop</title>
	<link rel="stylesheet" type="text/css" href="./Style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="title">
		<div class="overlay">
			<div class="subtitle">
					<ul class="menu">
					<li>
						<a href="./WebBanHang.html">Home</a>
					</li>
					<li>
						<a href="./Shop.html">Shop</a>
					</li>
					<li class="hasSubMenu">
						<a href="">Category</a>
						<ul class="subMenu">
							<li> 
								<a href="">Shirt</a>
							</li>
							<li> 
								<a href="">Pant</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="body">
				<div class="logan">
					<h1>WELCOME TO MY SHOP</h1>
					<h2>WISHING YOU HAVING A GOOD DAY WITH MY STUDIO</h2>
				</div>
				<a href="" class="button">Call</a>
			</div>
		</div>
	</div>
</body>
</html>